---
import Layout from '../layouts/Layout.astro';
---
<Layout currentPage="home">
  <img
    class="hero-image"
    src="/images/heron.png"
    alt="an integral of the 'heron' function"
    width="180"
  />

  <p>
    Our lab is located in the <a href="http://bio.as.uky.edu/" target="_blank" rel="noopener">Department
    of Biology</a> at the <a href="http://www.uky.edu/" target="_blank" rel="noopener">University of
    Kentucky</a>.
  </p>

  <p>
    We are interested in using mathematical and computational tools to study
    conceptual questions in evolutionary biology and ecology. A main focus of work in
    the group is the evolution of complex phenotypes including social behavior,
    phenotypic plasticity, and traits on rough fitness landscapes.
  </p>

  <h2>Recent News</h2>

  <div class="news-item">
    <strong>September 2019:</strong> DySoC/NIMBioS Seminar (Van Cleve) at the University of Tennessee.
    <a href="https://www.youtube.com/watch?v=8HETv5yvzCM" target="_blank" rel="noopener">link to video</a>
  </div>

  <div class="news-item">
    <strong>June 2019:</strong> Evolution Meeting 2019 talk (Van Cleve).
    <a href="https://www.youtube.com/watch?v=pTu7PWkmlPE" target="_blank" rel="noopener">link to video</a>
  </div>

  <div class="news-item">
    <strong>August 2018:</strong> Presentation at Joint Evolution Conference in France (Kessinger).
    <a href="https://programme.europa-organisation.com/slides/programme_jointCongressEvolBiology-2018/webconf/376_20082018_1200_rabelais_Taylor_Kessinger_75/index.html" target="_blank" rel="noopener">link to video</a>
  </div>

  <div class="news-item">
    <strong>August 2018:</strong> Preprint on bioRxiv on genetic draft and valley crossing (Kessinger and Van Cleve):
    <a href="https://dx.doi.org/10.1101/383737" target="_blank" rel="noopener">doi: 10.1101/383737</a>
  </div>

  <div class="news-item">
    <strong>July 2017:</strong> New publication in <em>Integrative and Comparative Biology</em>:
    <a href="http://dx.doi.org/10.1093/icb/icx071" target="_blank" rel="noopener">doi: 10.1093/icb/icx071</a>
  </div>

  <div class="news-item">
    <strong>June 2017:</strong> Evolution Meeting 2017 talk (Van Cleve).
    <a href="https://youtu.be/fLCRvUSsto4" target="_blank" rel="noopener">video</a>
  </div>

  <div class="news-item">
    <strong>June 2017:</strong> Evolution Meeting 2017 talk (Kessinger).
    <a href="https://youtu.be/_sGulu2g-1o" target="_blank" rel="noopener">video</a>
  </div>

  <div class="news-item">
    <strong>April 2016:</strong> Game Theoretical Modeling of Evolution in Structured Populations Tutorial
    held at <a href="http://www.nimbios.org/" target="_blank" rel="noopener">NIMBioS</a> (Van Cleve).
    <a href="https://youtu.be/WAkwwe2iPVE" target="_blank" rel="noopener">video</a>
  </div>

  <div class="news-item">
    <strong>June 2016:</strong> Evolution Meeting 2016 talk (Van Cleve).
    <a href="https://youtu.be/8dLQmPcfTvo" target="_blank" rel="noopener">video</a>
  </div>
</Layout>
