---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Software" currentPage="software">
  <img
    src="/images/snow_trees.jpg"
    alt="Snow in the trees"
    style="max-width: 320px; margin-bottom: 1.5rem;"
  />

  <h2>GitHub</h2>
  <p>
    My personal GitHub account is <a href="http://github.com/vancleve" target="_blank" rel="noopener">here</a>.
  </p>

  <h2>SOCKS proxy via SSH Tunnel</h2>
  <p>
    A simple Python script that creates an SSH tunnel and uses "networksetup" on Mac OS X
    to create a SOCKS proxy using the tunnel. Simply run the script in a terminal window
    with a command line option telling it which network interface you'd like to use the
    tunnel with (e.g. "Wi-Fi", "Ethernet", etc.). The script will continue running and to
    end the tunnel simply quit with Control+C. The script also nicely resets your network
    settings if the SSH tunnel closes due to loss of network connectivity, which is nice
    when moving a laptop from home to work.
  </p>
  <p>
    For Mac OS 10.8+, running as root (e.g., <code>sudo setproxy.py --off</code>) avoids
    multiple admin password dialogs.
  </p>
  <ul class="bulleted">
    <li><a href="http://github.com/vancleve/setproxy" target="_blank" rel="noopener">setproxy.py</a></li>
  </ul>

  <h2>BibDesk</h2>
  <ul class="bulleted">
    <li>
      <a href="http://github.com/vancleve/Zot2Bib" target="_blank" rel="noopener">Fork of Zot2Bib</a> —
      When Zotero downloads a reference and PDF, Zot2Bib transfers only the reference to
      BibDesk. This fork also attaches the PDF to the BibTeX file.
    </li>
    <li>
      Perl script to toggle between full journal titles and abbreviations, and AppleScripts
      to do this in BibDesk in a manner similar to JabRef:
      <ul class="bulleted" style="margin-top: .4rem;">
        <li>
          <a href="http://haldane.uky.edu/wordpress/wp-content/software/abbreviateJournalTitles.perl" target="_blank" rel="noopener">
            Perl script
          </a> for journal title abbreviation.
        </li>
        <li>
          <a href="http://haldane.uky.edu/wordpress/wp-content/software/Toggle%20Journal%20Abbreviation.scpt" target="_blank" rel="noopener">
            AppleScript
          </a> for toggling between full title, ISO abbreviation, and Medline abbreviation.
        </li>
        <li>
          <a href="http://haldane.uky.edu/wordpress/wp-content/software/Pre%20Auto%20File.scpt" target="_blank" rel="noopener">
            AppleScript
          </a> that abbreviates journal titles before using them in linked PDF filenames.
        </li>
        <li>
          <a href="http://haldane.uky.edu/wordpress/wp-content/software/additional_journal_abbrv.txt" target="_blank" rel="noopener">
            Sample list of journal abbreviations.
          </a>
        </li>
      </ul>
    </li>
  </ul>
</Layout>
