---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Teaching" currentPage="teaching">
  <ul class="bulleted">
    <li>
      <a href="http://vancleve.theoretical.bio/teaching/bio-770-fall-2015/" target="_blank" rel="noopener">
        BIO 770: Natural Selection in Evolution
      </a> (Fall 2015)
    </li>
    <li>
      <a href="https://github.com/vancleve/BIO770-DWVR" target="_blank" rel="noopener">
        BIO 770: Data Wrangling and Visualization Using R
      </a> (Fall 2016, 2018)
    </li>
    <li>BIO 425: Reconstructing Human History with Genetics (Fall 2017)</li>
    <li>BIO 325: Ecology (Spring 2016–2020)</li>
  </ul>
</Layout>
